* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: space-between;
}

.App {
    width: 800px;
}
.counter_btn_list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.counter_btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ff0000;    
    cursor: pointer;
}
